<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1>Escargot Recipe</h1>
<img src="https://assets.epicurious.com/photos/57a8adfbb10b4fb03f234f37/2:1/w_1260%2Ch_630/escargots-a-la-bourguignonne.jpg" width="500" height="300" alt="Escargot">
<h2>Ingredients:</h2>
<ul>
    1 small garlic clove
    3/8 teaspoon table salt
    1 stick (1/2 cup) unsalted butter, softened
    1 1/2 teaspoons finely minced shallot
    1 tablespoon finely chopped fresh flat-leaf parsley
    1/4 teaspoon black pepper
    1 tablespoon dry white wine
    12 to 16 snails* (from a 7- to 8-oz can)
    About 2 cups kosher salt (for stabilizing snail shells)
    Accompaniment: French bread
</ul>
<h3>Special Equipment</h3>
<ul>
    <li>12 to 16 sterilized escargot shells*</li>
</ul>
<h3>Preparation</h3>
<p1>Put oven rack in middle position and preheat oven to 450°<br/>
    Using a heavy knife, mince and mash garlic to a paste with 1/8 teaspoon table salt <br/>
    Beat together butter, shallot, garlic paste, parsley, remaining 1/4 teaspoon table salt,<br/>
    and pepper in a small bowl with an electric mixer until combined well. Beat in wine until combined well <br/>
    Divide half of garlic butter among snail shells. Stuff 1 snail into each shell and top snails with remaining butter. <br/>
    Spread kosher salt in a shallow baking dish and nestle shells, butter sides up, in salt.<br/>
    Bake snails until butter is melted and sizzling, 4 to 6 minutes. Serve immediately.<br/>
</p1>
    <h3>Cooks' notes:</h3>
    <ul>
        - The escargots can be prepared, but not baked, up to 30 minutes ahead and kept at room temperature until ready to bake.<br/>
        - If you don't have an escargot serving dish, serve the snails on a bed of kosher salt (to stabilize shells) on a platter.
    </ul>
<h3>Serves 6 people</h3>
</body>
</html>