<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Grilled Sea Bass</h1>
<img src="https://images.media-allrecipes.com/userphotos/560x315/2903984.jpg"width="400" height="300" alt="Sea Bass">
<h2>Ingredients:</h2>
<ul>
    <li>2 pounds sea bass</li>
    <li>3 tablespoons butter</li>
    <li>2 large cloves garlic, chopped</li>
    <li>1 tablespoon chopped Italian flat leaf parsley</li>
    <li>1 1/2 tablespoons extra virgin olive oil</li>
</ul>
<h2>Directions:</h2>
<p1>Preheat grill for high heat.</p1><br/>
<p1>In a small bowl, stir together the garlic powder, onion powder, paprika, lemon pepper, and sea salt. Sprinkle seasonings onto the fish.</p1><br/>
<p1>In a small saucepan over medium heat, melt the butter with the garlic and parsley. Remove from heat when the butter has melted, and set aside.</p1><br/>
<p1>Lightly oil grill grate. Grill fish for 7 minutes, then turn and drizzle with butter. Continue cooking for 7 minutes, or until easily flaked with a fork. Drizzle with olive oil before serving.</p1><br/>
<h2>Serves 6 people</h2>
</body>
</html>