<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
    <h6>Basic Bullhorn</h6>
</div>

</body>
<h2>Message Form</h2>
<form action="#"
      th:action="@{/process}"
      th:object="${message}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Title :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br />
    Content :<textarea rows="3" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br />
    Posted Date :<input type="text" th:field="*{postedDate}" />
    <span th:if="${#fields.hasErrors('postedDate')}"
          th:errors="*{postedDate}"></span><br />
    Posted By :<input type="text" th:field="*{postedBy}" />
    <span th:if="${#fields.hasErrors('postedBy')}"
          th:errors="*{postedBy}"></span><br />
    <br />
    <input type="submit" value="Submit" />

</form>
</body>
</html>